//InitialVisit component styles
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input{
    width: 100%;
    height: 43px;
    outline-style: none;
    border: none;
    border-radius: 10px;
    padding: 10px;      
}

.small{
    width: 100px;
    height: 30px;
}

.card__item{
    font-size: 12px;
    padding: 2px;
    height: 30px;
    width: 60px;
    border-radius: 4px;
    text-align: center;
}
