.settings{
    position: fixed;
    right: 10px;
    top: 67px;
    border: rgb(223, 239, 255) solid 1px;
    background-color: white;
    border-radius: 10px;
    margin: 10px 0;
    padding: 5px;
}