.initialVisit__form{
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.purchases__form{
    display: flex;
    gap: 20px;
}

.settings__form{
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin: 10px;
}

.card__form{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 5px;
}