.initialVisit__form{
    button{
        width: 100px;
        border-radius: 10px;
        border: none;

        &:hover{
            border: 2px solid rgb(139, 38, 255);
        }
    }
}