.initialVisit__form{
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.purchases__form{
    display: flex;
    gap: 20px;
}

button{
    width: 100px;
    border-radius: 10px;
    border: 2px solid black;

    &:hover{
        border: 2px solid rgb(139, 38, 255);
    }
}