.purchases{
    &__title{
        color: rgb(139, 38, 255);
    }

    &__list{
        border: rgb(223, 239, 255) solid 1px;  
        padding: 0;
        color:rgb(99, 99, 99);
    }

    &__item{
        display: flex;
        gap: 20px;
        align-items: center;
        background-color: white;
        justify-content: space-around;
        border-radius: 3px;
    }
}