.navbar{
    padding: 15px;
    background-color: white;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;    

    &__welcome{
        margin: 0;
    }

    &__userInfo{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        h3{
            margin: 0;
        }
    }

    &__settings{
        
        &:hover{
            color: rgb(139, 38, 255);
            cursor: pointer;
        }
    }

    &--highlight{
        color: rgb(139, 38, 255);
    }
}